.card {
    display: flex;
    flex-direction: column;
    border: 5px;
  }
  
  .card img {
    flex-shrink: 0;
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .container-fluid {
    padding: 2rem;
  }
  
  .carousel-item{
    width: 100%;
  }

  .carousel-image {
    width: 200px;
  }
  .transform-card { transform: translateZ(100px); }